body{
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 64px;
    gap: 64px;
}

.header{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    font-weight: 800;
    color:coral;
}

ul{
    padding:0px;
    margin:0px;
    display:flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.sign-up{
    display: flex;
    gap: 16px;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
}

.information{
    display:flex;
    flex-direction: column;
    width: 500px;
    gap: 32px;
    justify-content: center;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border-radius: 1000px;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #3882F6;
}

img{
    width: auto;
    height:250px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    padding-top: 32px;
}

.random-information{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.illusion-subtext{
    display: flex;
    justify-content: center;
    gap: 48px;

}


.illusion-subtext .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 24px;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    border-radius:1cm;
    margin-bottom: 72px
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 50px 150px;
    gap: 32px;
}

.quote-words {
    font-size: 36px;
    color: #1F2937;
}

.quoted {
    margin-left: auto;
    font-size: 24px;
    font-weight: 600;
}

.prompt {
    display: flex;
    flex-grow:0;
    margin: 100px 100px;
    padding: 32px;
    background-color: #3882F6;;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    color: white;
}

.words{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.call {
    font-size: 24px;
    font-weight: 700;
}

.call2{
    font-size: 12px;
}